<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie List</title>
</head>
<body>
<ul>
    <li>
        <h1>Movie List</h1>
        <p><button><a href="/movies/create/">Добавить новый фильм</a></button></p>
        {% for i in movies %}
        <img src="{{i.image.url}}" alt="img" height="400" width="600">
        <h2>{{i.title}}</h2>
        <p>{{i.description}}</p>
        <a href="/movies/{{i.id}}/">Подробнее</a>
        <p>{% endfor %}</p>
    </li>
</ul>
</body>
</html>