{% include 'layouts/header.html' %}
<center>
<h1>Movie Detail</h1>
<img src="{{object.image.url}}" alt="img" height="400" width="600">
<h2>{{object.title}}</h2>
<p>{{object.description}}</p>
<p>{{object.genre}}</p>
<p>{{object.director}}</p>
<p>{{object.actors}}</p>
<p>{{object.lang}}</p>
<iframe src="{{object.trailer_url}}" frameborder="0">Смотреть трейлер</iframe>
<p><a href="{{object.movie_url}}">Смотреть фильм</a></p>
<p><button><a href="/movies/{{object.id}}/update/">Изменить фильм</a></button></p>
<p><button><a href="/movies/{{object.id}}/delete/">Удалить фильм</a></button></p>
<button><a href="/movies/{{object.id}}/review/">Оставить отзыв</a></button>
</center>
{% include 'layouts/footer.html' %}
